<h2>With ngFor</h2>
<ul id="presList">
  <!-- requires an import -->
  <li *ngFor="let pres of presidents">
    {{pres['name']}} {{pres['term']}}
  </li>

  <!-- original implementation
  <li>{{presidents[0]['name']}} {{presidents[0]['term']}}</li>
  <li>{{presidents[1]['name']}} {{presidents[1]['term']}}</li>
  <li>{{presidents[2]['name']}} {{presidents[2]['term']}}</li>
  <li>{{presidents[3]['name']}} {{presidents[3]['term']}}</li>
  <li>{{presidents[4]['name']}} {{presidents[4]['term']}}</li>
  -->
</ul>

<h2>With &#64;for</h2>
<ol>
  <!-- Using a directive for a better implementation -->
  @for(pres of presidents; track pres){
    <li>{{pres['name']}} {{pres['term']}}</li>
  }
</ol>
